*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: (30 / 16);
  letter-spacing: 0.04em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}