/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

@import './utils/mixins';
@import './utils/placeholders';
@import './utils/vars';
