:root {
  --mainBackground: #ffb8ca;
  --secondaryBackground: #ffa5ba;
  --accentColor: #d41443;
  --white: #ffffff;

  --accentHover: #c7133e;
  --whiteHover: #ecebeb;

  --titleFont: Titan One;
  --mainFont: DM Sans;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
