<footer class="footer">
  <div class="footer-container">
    <div class="title">
      <p class="footer-container__homemade">homemade ice cream made</p>
      <p class="footer-container__passion">with passion</p>
    </div>

    <div class="footer-contacts">
      <ul class="list">
        <li>
          <a class="link" aria-label="GitHub" href="">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link" aria-label="Telegram" href="">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="link" aria-label="Facebook" href="">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="contacts__text">Feel free to contact</p>
      <a class="link contacts__tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
