<!-- Модалка -->
<div class="backdrop is-hidden" buynow-modal>
    <div class="modal">
        <a href="./index.html" class="link modal-logo">
            <img src="./images/header/logo.png" alt="логотип компании">
        </a>

        <button class="modal-close-btn" buynow-modal-close>
            <svg width="11" height="11">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <form class="form">
            <p class="form__title">Buy it now</p>

            <div class="products-to-choose">

                <label for="Products" class="products-to-choose__label">Products</label>
                <select id="Products" name="Products">
                    <optgroup label="Ice Cream">
                        <option value="Ice Cream: vanilla" class="products-to-choose__item" selected>Ice Cream: vanilla
                        </option>
                        <option value="Ice Cream: chocolate" class="products-to-choose__item">Ice Cream: chocolate
                        </option>
                        <option value="Ice Cream: strawberry" class="products-to-choose__item">Ice Cream: strawberry
                        </option>
                    </optgroup>
                    <optgroup label="Ice Coffee">
                        <option value="Ice Coffee: vanilla" class="products-to-choose__item">Ice Coffee: vanilla
                        </option>
                        <option value="Ice Coffee: chocolate" class="products-to-choose__item">Ice Coffee: chocolate
                        </option>
                        <option value="Ice Coffee: pistachio" class="products-to-choose__item">Ice Coffee: pistachio
                        </option>
                    </optgroup>
                    <optgroup label="MilkShakes">
                        <option value="MilkShake: vanilla" class="products-to-choose__item">MilkShake: vanilla</option>
                        <option value="MilkShake: chocolate" class="products-to-choose__item">MilkShake: chocolate
                        </option>
                        <option value="MilkShake: strawberry" class="products-to-choose__item">MilkShake: strawberry
                        </option>
                    </optgroup>
                </select>


                <label for="Price" class="products-to-choose__label">Price</label>
                <select id="Price" name="Price">
                    <option value="10" class="products-to-choose__item">10</option>
                    <option value="20" class="products-to-choose__item">20</option>
                    <option value="30" class="products-to-choose__item">30</option>
                </select>


                <label for="Quantity" class="products-to-choose__label">Quantity</label>
                <select id="Quantity" name="Quantity">
                    <option value="1" selected class="products-to-choose__item">1</option>
                    <option value="2" class="products-to-choose__item">2</option>
                    <option value="3" class="products-to-choose__item">3</option>
                    <option value="4" class="products-to-choose__item">4</option>
                    <option value="5" class="products-to-choose__item">5</option>
                    <option value="6" class="products-to-choose__item">6</option>
                    <option value="7" class="products-to-choose__item">7</option>
                    <option value="8" class="products-to-choose__item">8</option>
                    <option value="9" class="products-to-choose__item">9</option>
                    <option value="10" class="products-to-choose__item">10</option>
                </select>

                <label for="amount" class="products-to-choose__label">Amount</label>
                <input type="text" name="amount" id="amount" class="form__input" />


                <button class="modal-delete-btn">
                    <svg width="11" height="11">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>

                <button class="modal-add-btn">
                    <svg width="11" height="11">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>

            </div>


            <div class="form__field">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form__input" />
                <svg width="18" height="18" class="form__icon">
                    <use href="./images/sprite.svg#icon-personblack"></use>
                </svg>
            </div>

            <div class="form__field">
                <label for="tel" class="form-label">Phone</label>
                <input type="text" name="tel" id="tel" class="form__input" />
                <svg width="18" height="18" class="form__icon">
                    <use href="./images/sprite.svg#icon-phoneblack"></use>
                </svg>
            </div>

            <div class="form__field">
                <label for="mail" class="form-label">E-mail</label>
                <input type="text" name="mail" id="mail" class="form__input" />
                <svg width="18" height="18" class="form__icon">
                    <use href="./images/sprite.svg#icon-emailblack"></use>
                </svg>
            </div>


            <div class="form__field">
                <label for="comment">Comments</label>
                <textarea name="comment" id="comment" rows="6" placeholder="Input your comments"></textarea>
            </div>


            <button type="submit" class="btn">Checkout</button>

        </form>
    </div>
</div>