.about-section {
  background-color: var(--sectionBgColor);
  @media screen and (max-width: 767px) {
    padding: 125px 0 0 0;
    background-image: url(../images/about/about-milk-mob1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 766px;
  }
  @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 767px) and (min-resolution: 192dpi),
    screen and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url(../images/about/about-milk-desk2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 766px;
  }
  @media screen and(min-width:768px) {
    padding: 130px 36px 0 39px;
  }
  @media screen and(min-width:1200px) {
    padding: 125px 117px 0 112px;
  }

  @media screen and(min-width:1200px) {
    background-image: url(../images/about/about-milk-desk1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 342px;
  }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(../images/about/about-milk-desk2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 342px;
  }
}

.about {
  &-text {
    font-family: Titan One;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;

    color: var(--contactThirdColor);
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
      margin-bottom: 16px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: 1.14;
      margin-bottom: 15px;
    }
  }
  &-title {
    font-family: Titan One;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--accentColor);

    margin: 0 0 26px 0;

    margin: 0 auto;
    @media screen and (max-width: 479px) {
      width: 90%;
    }
    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.14;
      margin: 0 0 50px 0;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 1.14;
      margin: 0 0 55px 0;
    }
  }
}
.about-box {
  margin-bottom: 39px;
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 66px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 39px;
  }

  &_img {
    @media screen and (max-width: 767px) {
      max-width: 280px;
      margin: 0 auto;
      margin-bottom: 46px;
      max-width: 280px;
      max-height: 279px;
    }
    @media screen and(min-width:768px) {
      margin-right: 17px;
    }
    @media screen and(min-width:1200px) {
      margin-right: 74px;
      max-width: 516px;
      max-height: 516px;
    }
  }
}
.about-box_text {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    width: 220px;
  }
  @media screen and(min-width:768px) {
    width: 340px;
  }
  @media screen and(min-width:1200px) {
    width: 463px;
  }

  &_first {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var(--contactFirstColor);
    margin-bottom: 47px;
    @media screen and(min-width:768px) {
      font-size: 14px;
      line-height: 1.78;
    }
    @media screen and(min-width:1200px) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
  &_second {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var(--contactSecondColor);
    @media screen and(min-width:768px) {
      font-size: 14px;
      line-height: 1.78;
    }
    @media screen and(min-width:1200px) {
      font-size: 14px;
      line-height: 1.92;
    }
  }
}
.about-box_text_second > span {
  display: block;
  margin-top: 19px;
  @media screen and (min-width: 768px) {
    margin-top: 25px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 27px;
  }
}
.about-btn {
  width: 176px;
  height: 44px;

  background: #ffffff;
  border-radius: 22px;
  border: 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: var(--accentColor);

  margin-top: 17px;

  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.31;
    margin-top: 62px;
  }
  @media screen and(min-width:1200px) {
    margin-top: 45px;
  }
}
.about-btn > img {
  margin-left: 13px;
}
