.contacts {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--sectionBgColor);
}

.contacts__container {
  padding-left: 50px;
  padding-right: 50px;
}

.contacts-list__item {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  padding: 43px 20px;
  font-size: 12px;
  line-height: calc(22 / 12);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: var(--white);
  color: var(--contactFirstColor);
}

.contacts-list__category {
  @extend %centered-flex-box;
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: var(--contactCafeColor);
  border-radius: 4px;
}

.contacts__address {
  font-style: normal;
}

.contacts-list__city,
.contacts-list__operating-mode {
  margin-bottom: 10px;
}

.contacts-list__street {
  color: var(--contactSecondColor);
  letter-spacing: normal;
  line-height: calc(18 / 12);
}

.contacts-list__line {
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-list__operating-mode {
  margin-bottom: 10px;
}

.contacts-list__time {
  color: var(--contactThirdColor);
}

.contacts-list__tel,
.contacts-list__email {
  display: block;
  color: var(--contactSecondColor);
  line-height: calc(18 / 12);
}
