.gallery-partial {
  display: block;
  min-height: 122px;
  text-align: center;
  align-items: center;

  padding-top: 0;
  padding-bottom: 80px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, var(--sectionBgColor) 48px, var(--white) 48px);

  @include tab {
    padding-bottom: 121px;
    min-height: 264px;
    background-image: linear-gradient(to bottom, var(--sectionBgColor) 106px, var(--white) 106px);
  }

  @include desk {
    padding-bottom: 123px;
    min-height: 430px;
    background-image: linear-gradient(to bottom, var(--sectionBgColor) 171px, var(--white) 171px);
  }
}

.gallery-partial__container {
  @extend .container;
}

.gallery-partial__img_basic {
  margin-left: auto;
  margin-right: auto;
}

// .training {
//   display: block;
//   margin-top: 210px;
// }
