.roundBtn__window {
  @include tab {
    position: absolute;
    top: -20px;
    left: 124px;
    width: 150px;
    height: 145px;
    border-radius: 4px;
    z-index: 999;
    background-color: var(--white);
    color: var(--accentColor);
    padding: 20px;
    & p {
      font-size: 10px;
    }
  }
  @include desk {
    top: -55px;
    left: 218px;
    width: 200px;
    height: 231px;
    & p {
      font-size: 14px;
    }
  }
}
.roundBtn__window-icon {
  position: absolute;

  width: 12px;
  height: 12px;
}
.roundBtn__window-button-close {
  position: absolute;
  top: 3px;
  right: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;
  border: 1px solid var(--borderColor);
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
}
.roundBtn__window-button-close:hover,
.roundBtn__window-button-close:focus .roundBtn__window-icon {
  fill: var(--accentColor);
}
